<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Marker Animations</title>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 50%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div id="map"></div>
<div id="latt"></div>
<div id="lon"></div>
<script>

    // The following example creates a marker in Stockholm, Sweden using a DROP
    // animation. Clicking on the marker will toggle the animation between a BOUNCE
    // animation and no animation.

    var marker;
    var latt,lon;

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: {lat: 33.886917, lng: 9.537499}
        });

        do

        var requestURL = 'http://ip-api.com/json/196.178.88.132';
        var request = new XMLHttpRequest();
        request.open('GET', requestURL);
        request.responseType = 'json';
        request.send();
        request.onload = function() {
            var coord = request.response;
            GetCoord(coord);
            // showHeroes(address);
        };

        function GetCoord(jsonObj) {
            // recuperation des addresses place_id et compound_code

            document.getElementById('latt').innerHTML = jsonObj.lat;
            document.getElementById('lon').innerHTML = jsonObj.lon;

            latt = {
                lat: jsonObj.lat,
                lng: jsonObj.lon
            }


        }

        alert( document.getElementById('latt').getAttribute('value'));

            marker = new google.maps.Marker({
                map: map,
                draggable: false,
                animation: google.maps.Animation.DROP,
                position: latt
            });
            marker.addListener('click', toggleBounce);

    }

    function toggleBounce() {
        if (marker.getAnimation() !== null) {
            marker.setAnimation(null);
        } else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
        }
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2Ws0KYSjxNXXgRh8jRBGZgrXqgNHzWbI&callback=initMap">
</script>
</body>
</html>